@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    letter-spacing: .05em;
    /* outline: 2px solid darkblue; */
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../images/background.jpg');
    position: relative;
    font-family: 'Noto Serif Georgian', serif;
}

#intro {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 2s ease;
}

#credit-intro {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: intro;
    animation-duration: 3s;
}

#blackjack-intro {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: intro;
    animation-duration: 2s;
}

#text-intro {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: intro;
    animation-duration: 3s;
}

#intro-btn {
    cursor: pointer;
    font-size: 1.25rem;
    padding: .5em 1em .5em 1em;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: intro;
    animation-duration: 3s;
    border-radius: 25px;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    transition: all .5s ease-out;
}

#intro-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#insurance-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    padding: 1em;
    border: 3px solid black;
    border-radius: 10px;
    background-image: url('../images/insurance.png');
    background-size: cover;
    background-position-y: 50%;
    z-index: 3;
    opacity: .9;
}

.insurance-button {
    position: absolute;
    top: 35%;
    cursor: pointer;
    width: 75px;
    height: fit-content;
    padding: .25em;
    font-size: 1.25rem;
    margin: 0em .75em;
}

#insurance-yes-btn {
    left: 30%;
}

#insurance-no-btn {
    left: 50%;
}

.cards-container {
    width: 100vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    height: 250px;
    width: auto;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 5px 2px 12px 1px rgba(0,0,0,.6);
}

#dealerHand, #playerHand {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2em 0em;
}

#betting-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
}

#player-cash {
    margin: 1em 0em 3em 0em;
    padding: 0em 2em;
}

#player-bet {
    margin: 1em 0em;
    text-align: center;
}

#player-cash, #player-bet, #end-message {
    border-radius: 20px;
    background-color: rgb(10, 10, 10);
    color: rgb(5, 180, 5);
    box-shadow: 3px 1px 5px 2px rgba(0,0,0,.75);
}

.bet-button, .action-button {
    cursor: pointer;
    margin: 0em 1em;
    width: 75px;
    height: 75px;
    padding: .5em;
    font-size: 1.5rem;
    border-radius: 50px;
    transition: all .2s ease;
}

.bet-button:hover, .action-button:hover, .token-image:hover {
    transform: scale(1.05);
}

#bet {
    background: url('../images/bet.png');
    background-position: center;
    background-size: cover;
}

#clear-bet {
    background: url('../images/clearbet.png');
    background-position: center;
    background-size: cover;
}

#playerHitBtn {
    background: url('../images/hit.png');
    background-position: center;
    background-size: cover;
}

#playerStandBtn {
    background: url('../images/stand.png');
    background-position: center;
    background-size: cover;
}

#playerDoubleBtn {
    background: url('../images/double.png');
    background-position: center;
    background-size: cover;
}

#playerSplitBtn {
    display: none;
}

#button-container {
    position: absolute;
    bottom: 5%;
    display: none;
    justify-content: center;
    width: 100%;
}

.tokens-container {
    height: fit-content;
    margin-bottom: 1em;
}

.token-image {
    width: 75px;
    height: auto;
    margin: 0em .5em;
    cursor: pointer;
    border: 3px solid rgba(0,0,0,.75);
    border-radius: 50px;
    box-shadow: 3px 1px 5px 1px rgba(0,0,0,.6);
    transition: all .2s ease;
}

#popup-message {
    display: none;
    position: absolute;
    top: 82.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: .25em;
}